<% title @affiliate.title %>

<h1><%= @affiliate.title %></h1>
<ul>
  <li>Contact Name: <%= @affiliate.contact_name %></li>
  <li>Contact Telephone Number: <%= @affiliate.contact_number %></li>
  <li>Contact Email: <%= @affiliate.contact_email %></li>
  <li>Website: <%= link_to @affiliate.website, @affiliate.website %></li>
  <li>Address: <%= @affiliate.address %></li>
  <li>City: <%= @affiliate.city %></li>
  <li>Postcode: <%= @affiliate.postcode %></li>
  <li>Region: <%= @affiliate.region.present? ? @affiliate.region.title : "" %></li>
</ul>

<h2>Is this data incorrect? Change it!</h2>
<p>If this data is currently inaccurate let us know and we'll update it.</p>
<p>Affiliate owners: For security reasons we will only make changes that put our data inline with your current website. Be sure to update it before requesting changes.</p>
<%= simple_form_for @affiliate_update_request do |f| %>
  <%= f.association :affiliate, as: :hidden %>
  <%= f.input :requester_email, label: "Your email" %>
  <%= f.input :new_title %>
  <%= f.input :new_email %>
  <%= f.input :new_telephone_number %>
  <%= f.input :new_address %>
  <%= f.input :new_postcode %>
  <%= f.input :new_website %>
  <%= f.input :new_city %>
  <%= f.association :region, label: "New region" %>
  <%= f.submit %>
<% end %>

<% if current_admin_user %>
  <%= link_to "Edit", edit_admin_affiliate_path(@affiliate) %>
<% end %>
