<h1><%= @affiliate.title %></h1>
<ul>
  <li>Contact Name: <%= @affiliate.contact_name %></li>
  <li>Contact Telephone Number: <%= @affiliate.contact_number %></li>
  <li>Contact Email: <%= @affiliate.contact_email %></li>
  <li>Website: <%= link_to @affiliate.website, @affiliate.website %></li>
  <li>Address: <%= @affiliate.address %></li>
  <li>City: <%= @affiliate.city %></li>
  <li>Postcode: <%= @affiliate.postcode %></li>
  <li>Region: <%= @affiliate.region.title %></li>
</ul>

<% if current_admin_user %>
  <%= link_to "Edit", edit_admin_affiliate_path(@affiliate) %>
<% end %>
