<h1><%= @affiliate.title %></h1>
<ul>
  <li>Contact Name: </li>
  <li>Contact Telephone Number: </li>
  <li>Contact Email: </li>
  <li>Website: <%= link_to @affiliate.website, @affiliate.website%></li>
  <li>Address: </li>
  <li>City: <%= @affiliate.city %></li>
  <li>County: <%= @affiliate.state %></li>
  <li>Postcode: </li>
  <li>Country: <%= @affiliate.country %></li>
  <li>Certifications: </li>
  <li>Map Coords: </li>
</ul>
